@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
</head>
<body>
    <form method="post">
        <h3>Please enter your credentials</h3>
        <label>
            Login:
            <input type="text" name="username" />
        </label>
        <label>
            Password:
            <input type="password" name="password" />
        </label>
        <button type="submit">Log in</button>
    </form>
</body>
</html>
